<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <a class="navbar-brand text-light">CURRENCIES PRICE</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/"><span class="text-light">Get the currency price</span></a>
    </div>
  </div>
</nav>